/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #130ac2;
  padding: 20px;
  color: white;
  border-radius: 10%;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin: 10px 0;
}

label {
  margin-right: 10px;
}

button{
  padding: 10px 20px;
  background-color: #130ac2;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #130ac2;
  color: azure;
}

ul {
    list-style-type: none;
}


